html,
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #69a197;
}

:root {
    --sucesso-background: #a8e8a8;
    --sucesso-border: #469646;
    --erro-background: #ff7a7a;
    --erro-border: #cc2f2f;
    --info-background: #7194f6;
    --info-border: #0000ff;
    --aviso-background: orange;
    --aviso-border: rgb(207, 137, 6);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    font-size: 5em;
    margin: 30% 0 15px;
}

.toast {
    box-sizing: border-box;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.25em;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 4px 5px #6560604f;
}

.toast::after {
    content: "\00D7";
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 18px;
}

.toast-container {
    position: fixed;
    max-width: 290px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.65rem;
    padding: 10px 20px;
    font-size: 14px;
}

.toast-success {
    background: var(--sucesso-background);
    border-left: 4px solid var(--sucesso-border);
}

.toast-error {
    background: var(--erro-background);
    border-left: 4px solid var(--erro-border);
}

.toast-info {
    background: var(--info-background);
    border-left: 4px solid var(--info-border);
}

.toast-warning {
    background: var(--aviso-background);
    border-left: 4px solid var(--aviso-border);
}

.toast-container[data-position^="top-"] {
    top: 0;
}

.toast-container[data-position^="bottom-"] {
    bottom: 0;
}

.toast-container[data-position$="-right"] {
    right: 0;
}

.toast-container[data-position$="-left"] {
    left: 0;
}

.toast-container[data-position$="-center"] {
    left: 50%;
    transform: translateX(-50%);
}

.card {
}

textarea {
    max-width: 495px;
    width: 100%;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    outline: none;
    margin-bottom: 15px;
}

.btn {
    min-width: 120px;
    height: 35px;
    border: none;
    border-radius: 4px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: 600;
}

.btn-success {
    background-color: var(--sucesso-background);
    border-bottom: 3px solid var(--sucesso-border);
}

.btn-error {
    background-color: var(--erro-background);
    border-bottom: 3px solid var(--erro-border);
}

.btn-warning {
    background-color: var(--aviso-background);
    border-bottom: 3px solid var(--aviso-border);
}

.btn-info {
    background-color: var(--info-background);
    border-bottom: 3px solid var(--info-border);
}
